<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
    <xacro:macro name="sofclaw_gripper" params="">
        
        <group name="gripper">
            <link name="qbsoftclaw_frame_finger"/>
            <link name="fixed_fingertip"/>
            <link name="qbsoftclaw_mobile_finger_400"/>
            <joint name="claw_joint"/>
        </group>
        <group_state group="gripper" name="open">
            <joint name="claw_joint" value="0.0"/>
        </group_state>
        <group_state group="gripper" name="close">
            <joint name="claw_joint" value="-0.175"/>
        </group_state>
        <disable_collisions link1="qbsoftclaw_frame_finger" link2="fixed_fingertip" reason="Adjacent"/>
        <disable_collisions link1="qbsoftclaw_frame_finger" link2="qbsoftclaw_mobile_finger_400" reason="Adjacent"/>
        <disable_collisions link1="fixed_fingertip" link2="qbsoftclaw_mobile_finger_400" reason="Default"/>
    </xacro:macro>
</robot>
