<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

    <!-- robot name parameter -->
    <xacro:arg name="name" default="ur"/>
    <!-- parameters -->
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="simulation" default="true" />
    <!--GROUPS - Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS - When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS - When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS - When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS - Groups can also be formed by referencing to already defined group names-->
    <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/>
    <xacro:include filename="$(find ur_softclaw_moveit)/srdf/softclaw.srdf.xacro"/> 

    <!-- <xacro:ur_srdf name="$(arg name)" prefix="$(arg prefix)"/> -->
    <xacro:ur_srdf name="ur" prefix="$(arg prefix)"/>
    <xacro:sofclaw_gripper simulation="$(arg simulation)"/> 

    <disable_collisions link1="$(arg prefix)wrist_3_link" link2="qbsoftclaw_frame_finger" reason="Adjacent"/>

    <group name="ur_softclaw_manipulator">
        <group name="ur_manipulator"/>
        <group name="softclaw"/>
    </group>
    <end_effector group="softclaw" name="tip" parent_group="ur_manipulator" parent_link="$(arg prefix)tool0"/>

</robot>